//==== Map Object ====//

.map {
    flex: 0 1 auto;
    overflow: hidden;
    
    .map-img {        
        overflow: scroll;        
        max-height: 200px;
        
        img {
            min-width: 100%;
        }                  
    }
}