//==== Map Object ====//

.map {
    overflow: hidden;
    border: 1px solid #5b5b5b;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;        
    height: 9rem;
    max-width: 7rem;
    
    .map-img {        
        overflow: scroll;                
        
    }
}