/* hoenn sprites 252 - 386 */
.sprites {
    &.treecko {
        background-position: -352px -483px; 
    }
    
    &.grovyle {
        background-position: -382px -483px; 
    }	
    
    &.sceptile {
        background-position: -414px -483px; 
    }
    
    &.torchic {
        background-position: -448px -484px; 
    }
    
    &.combusken {
        background-position: -479px -484px; 
    }
    
    &.blaziken {
        background-position: 0px -517px; 
    }
    
    &.mudkip {
        background-position: -32px -517px; 
    }
    
    &.marshtomp {
        background-position: -62px -517px; 
    }
    
    &.swampert {
        background-position: -96px -516px; 
    }
    
    &.poochyena {
        background-position: -128px -516px; 
    }
    
    &.mightyena {
        background-position: -160px -516px; 
    }
    
    &.zigzagoon {
        background-position: -192px -518px;    
    }
    
    &.linoone {
        background-position: -225px -517px;
    }
    
    &.wurmple {
        background-position: -257px -514px; 
    }
    
    &.silcoon {
        background-position: -287px -518px; 
    }
    
    &.beautifly {
        background-position: -320px -518px; 
    }
    
    &.cascoon {
        background-position: -352px -518px; 
    }
    
    &.dustox {
        background-position: -383px -517px; 
    }
    
    &.lotad {
        background-position: -416px -517px; 
    }
    
    &.lombre {
        background-position: -447px -517px; 
    }
    
    &.ludicolo {
        background-position: -480px -517px; 
    }
    
    &.seedot {
        background-position: 0px -548px; 
    }
    
    &.nuzleaf {
        background-position: -32px -548px;
    }
    
    &.shiftry {
        background-position: -64px -547px; 
    }
    
    &.taillow {
        background-position: -97px -548px;
    }
    
    &.swellow {
        background-position: -128px -548px; 
    }
    
    &.wingull {
        background-position: -160px -548px; 
    }
    
    &.pelipper {
        background-position: -190px -548px; 
    }
    
    &.ralts {
        background-position: -222px -549px; 
    }
    
    &.kirlia {
        background-position: -255px -547px; 
    }
    
    &.gardevoir {
        background-position: -288px -548px; 
    }
    
    &.surskit {
        background-position: -319px -548px;
    }
    
    &.masquerain {
        background-position: -351px -549px;
    }
    
    &.shroomish {
        background-position: -384px -549px; 
    }
    
    &.breloom {
        background-position: -415px -549px; 
    }
    
    &.slakoth {
        background-position: -448px -548px; 
    }
    
    &.vigoroth {
        background-position: -480px -549px; 
    }
    
    &.slaking {
        background-position: 0px -581px; 
    }
    
    &.nincada {
        background-position: -32px -580px;
    }
    
    &.ninjask {
        background-position: -62px -582px; 
    }
    
    &.shedinja {
        background-position: -96px -581px;
    }
    
    &.whismur {
        background-position: -128px -580px; 
    }
    
    &.loudred {
        background-position: -160px -579px;
    }
    
    &.exploud {
        background-position: -192px -579px; 
    }
    
    &.makuhita {
        background-position: -222px -580px;
    }
    
    &.hariyama {
        background-position: -256px -580px; 
    }
    
    &.azurill {
        background-position: -288px -581px; 
    }
    
    &.nosepass {
        background-position: -320px -581px;
    }
    
    &.skitty {
        background-position: -352px -580px;
    }
    
    &.delcatty {
        background-position: -382px -582px;
    }
    
    &.sableye {
        background-position: -416px -580px; 
    }
    
    &.mawile {
        background-position: -449px -582px; 
    }
    
    &.aron {
        background-position: -480px -579px; 
    }
    
    &.lairon {
        background-position: 0px -614px;
    }
    
    &.aggron {
        background-position: -34px -613px;
    }
    
    &.meditite {
        background-position: -63px -611px; 
    }
    
    &.medicham {
        background-position: -95px -612px; 
    }
    
    &.electrike {
        background-position: -128px -612px;
    }
    
    &.manectric {
        background-position: -161px -612px; 
    }
    
    &.kecleon {
        background-position: -480px -677px; 
    }
    
    &.carvanha {
        background-position: -417px -611px; 
    }
    
    &.sharpedo {
        background-position: -448px -612px;
    }
    
    &.corphish {
        background-position: -127px -678px; 
    }
    
    &.crawdaunt {
        background-position: -160px -676px;
    }
    
    &.wailmer {
        background-position: -479px -614px; 
    }
    
    &.wailord {
        background-position: 0px -645px; 
    }
    
    &.numel {
        background-position: -32px -645px; 
    }
    
    &.camerupt {
        background-position: -64px -644px; 
    }
    
    &.torkoal {
        background-position: -97px -645px; 
    }
    
    &.spoink {
        background-position: -128px -644px; 
    }
    
    &.grumpig {
        background-position: -160px -645px; 
    }
    
    &.spinda {
        background-position: -192px -645px;         
    }
    
    &.trapinch {
        background-position: -223px -646px; 
    }
    
    &.vibrava {
        background-position: -256px -644px; 
    }
    
    &.flygon {
        background-position: -286px -642px; 
    }  
    
    &.cacnea {
        background-position: -320px -643px;
    }
    
    &.cacturne {
        background-position: -352px -644px; 
    }
    
    &.swablu {
        background-position: -384px -642px; 
    }
    
    &.altaria {
        background-position: -416px -643px; 
    }
    
    &.zangoose {
        background-position: -447px -645px; 
    }
    
    &.seviper {
        background-position: -478px -645px; 
    }
    
    &.lunatone {
        background-position: 0px -677px; 
    }
    
    &.solrock {
        background-position: -33px -677px; 
    }
    
    &.barboach {
        background-position: -65px -676px; 
    }
    
    &.whiscash {
        background-position: -97px -677px; 
    }
    
    &.minun {
        background-position: -224px -611px; 
    }
    
    &.plusle {
        background-position: -192px -611px; 
    }
    
    &.volbeat {
        background-position: -256px -612px; 
    }
    
    &.illumise {
        background-position: -288px -612px; 
    }
    
    &.roselia {
        background-position: -319px -613px; 
    }
    
    &.gulpin {
        background-position: -351px -613px; 
    }
    
    &.swalot {
        background-position: -384px -613px;
    }
    
    &.clamperl {
        background-position: -416px -707px;
    }
        
    &.huntail {
      background-position: -447px -709px;  
    }
    
    &.luvdisc {
        background-position: -34px -740px;
    }
    
    &.baltoy {
        background-position: -193px -677px; 
    }
    
    &.claydol {
        background-position: -224px -677px; 
    }
    
    &.lileep {
        background-position: -256px -676px; 
    }
    
    &.cradily {
        background-position: -289px -677px; 
    }
    
    &.anorith {
        background-position: -320px -675px; 
    }
    
    &.armaldo {
        background-position: -351px -675px; 
    }
    
    &.feebas {
        background-position: -385px -676px; 
    }
    
    &.milotic {
        background-position: -416px -676px; 
    }
    
    &.castform {
        background-position: -447px -674px; 
    }
    
    &.shuppet {
        background-position: 0px -708px; 
    }
    
    &.banette {
        background-position: -31px -707px; 
    }
    
    &.duskull {
        background-position: -63px -708px;
    }
    
    &.dusclops {
        background-position: -94px -708px; 
    }
    
    &.tropius {
        background-position: -127px -706px; 
    }
    
    &.chimecho {
        background-position: -161px -707px; 
    }
    
    &.absol {
        background-position: -191px -707px; 
    }
    
    &.wynaut {
        background-position: -222px -707px; 
    }
    
    &.snorunt {
        background-position: -255px -708px; 
    }
    
    &.glalie {
        background-position: -288px -709px; 
    }
    
    &.spheal {
        background-position: -319px -708px; 
    }
    
    &.sealeo {
        background-position: -352px -709px; 
    }
    
    &.walrein {
        background-position: -384px -707px; 
    }
    
    &.gorebyss {
        background-position: -478px -707px; 
    }
    
    &.relicanth {
        background-position: 0px -741px; 
    }
    
    &.bagon {
        background-position: -66px -740px;
    }
    
    &.shelgon {
        background-position: -97px -740px; 
    }
    
    &.salamence {
        background-position: -129px -739px;
    }
    
    &.beldum {
        background-position: -161px -739px; 
    }
    
    &.metang {
        background-position: -193px -739px; 
    }
    
    &.metagross {
        background-position: -224px -739px; 
    }
    
    &.regirock {
        background-position: -255px -740px;
    }
    
    &.regice {
        background-position: -288px -739px; 
    }
    
    &.registeel {
        background-position: -317px -739px; 
    }
    
    &.latias {
        background-position: -348px -741px; 
    }
    
    &.latios {
        background-position: -384px -740px; 
    }
    
    &.kyogre {
        background-position: -415px -739px; 
    }
    
    &.groudon {    
        background-position: -447px -739px; 
    }
    
    &.rayquaza {
        background-position: -480px -740px; 
    }
    
    &.jirachi {
        background-position: 0px -773px; 
    }
    
    &.deoxys {
        background-position: -32px -772px; 
    }
}