/* johto sprites 152- 251*/

.sprites {
    &.chikorita {
        .bg-position-row-12(324px);
    }
    &.bayleef {
        .bg-position-row-12(364px);
    }
    &.meganium {
        .bg-position-row-12(404px);
    }
    &.cyndaquil {
        .bg-position-row-12(444px);
    }
    &.quilava {
        .bg-position-row-12(484px);
    }
    &.typhlosion {
        .bg-position-row-12(524px);
    }
    &.totodile {
        .bg-position-row-12(564px);
    }
    &.croconaw {
        .bg-position-row-12(604px);
    }
    &.feraligatr {
        .bg-position-row-13(4px);
    }
    &.sentret {
        .bg-position-row-13(44px);
    }
    &.furret {    
        .bg-position-row-13(84px);
    }
    &.hoothoot {
        .bg-position-row-13(124px);
    }
    &.noctowl {
        .bg-position-row-13(164px);
    }
    &.ledyba {
        .bg-position-row-13(204px; 361px);
    }
    &.ledian {
        .bg-position-row-13(244px; 360px);
    }
    &.spinarak {
        .bg-position-row-13(284px);
    }
    &.ariados {
        .bg-position-row-13(324px);
    }
    &.crobat {
        .bg-position-row-13(364px);
    }
    &.chinchou {
        .bg-position-row-13(404px);
    }
    
    &.lanturn {
        .bg-position-row-13(444px; 360px);
    }
    &.pichu {
        .bg-position-row-13(484px);
    }
    &.cleffa {
        .bg-position-row-13(524px);
    }
    &.igglybuff {
        .bg-position-row-13(564px);
    }
    &.togepi {
        .bg-position-row-13(604px);
    }
    &.togetic {
        .bg-position-row-14(4px);
    }
    &.natu {
        .bg-position-row-14(44px);
    }
    &.xatu {
        .bg-position-row-14(84px);
    }
    &.mareep {
        .bg-position-row-14(124px);
    }
    &.flaaffy {
        .bg-position-row-14(164px);
    }
    &.ampharos {
        .bg-position-row-14(204px);
        
        &.mega {
            .bg-position-row-14(244px);
        }
    }
    &.bellossom {
        .bg-position-row-14(284px);
    }
    &.marill {
        height: 30px;
        .bg-position-row-14(324px);
    }
    &.azumarill {
        .bg-position-row-14(364px);
    }
    &.sudowoodo {
        .bg-position-row-14(404px);
    }
    &.politoed {
        .bg-position-row-14(444px);
    }
    &.hoppip {
        .bg-position-row-14(484px);
    }
    &.skiploom {
        .bg-position-row-14(524px);
    }
    &.jumpluff {
        .bg-position-row-14(564px);
    }
    &.aipom {
        .bg-position-row-14(604px);
    }
    &.sunkern {
        .bg-position-row-15(4px);
    }
    &.sunflora {
        .bg-position-row-15(44px; 419px);
    }
    &.yanma {
        height: 28px;
        .bg-position-row-15(84px);
    }
    &.wooper {
        .bg-position-row-15(124px);
    }
    &.quagsire {
        .bg-position-row-15(164px);
    }
    &.espeon {
        .bg-position-row-15(204px);
    }
    &.umbreon {
        .bg-position-row-15(244px; 419px);
    }
    &.murkrow {
        height: 30px;
        .bg-position-row-15(284px; 419px);
    }
    &.slowking {
        .bg-position-row-15(324px);
    }
    &.misdreavus {
        .bg-position-row-15(364px);
    }
    &.unown {
        height: 30px;
        .bg-position-row-15(404px; 420px);
    }
    &.wobbuffet {
        .bg-position-row-15(444px);
    }
    &.girafarig {
        .bg-position-row-15(484px);
    }
    &.pineco {
        .bg-position-row-15(524px);
    }
    &.forretress {
        .bg-position-row-15(564px);
    }
    
    &.dunsparce {
        .bg-position-row-15(604px);
    }
    &.gligar {
        .bg-position-row-16(4px);
    }
    &.steelix {
        .bg-position-row-16(44px);
        
        &.mega {
            .bg-position-row-16(84px);
        }
    }
    &.snubbull {
        .bg-position-row-16(124px);
    }
    &.granbull {
        .bg-position-row-16(164px);
    }
    &.qwilfish {
        .bg-position-row-16(204px);
    }
    &.scizor {
        .bg-position-row-16(244px);
        
        &.mega {
            .bg-position-row-16(284px);
        }
    }
    &.shuckle {
        .bg-position-row-16(324px);
    }
    &.heracross {
        .bg-position-row-16(364px; 450px);
        &.mega {
            .bg-position-row-16(404px; 450px);
        }
    }
    &.sneasel {
        .bg-position-row-16(444px);
    }
    &.teddiursa {
        .bg-position-row-16(484px);
    }
    &.ursaring {
        .bg-position-row-16(524px);
    }
    &.slugma {
        .bg-position-row-16(564px);
    }
    &.magcargo {
        .bg-position-row-16(604px);
    }
    &.swinub {
        .bg-position-row-17(4px);
    }
    &.piloswine {
        .bg-position-row-17(44px);
    }
    &.corsola {
       .bg-position-row-17(84px);
    }
    
    &.remoraid {
        .bg-position-row-17(124px);
    }
    
    &.octillery {
        .bg-position-row-17(164px);
    }
    &.delibird {
        .bg-position-row-17(204px);
    }
    &.mantine {
        .bg-position-row-17(244px);
    }
    &.skarmory {
        .bg-position-row-17(284px);
    }
    &.houndour {
        .bg-position-row-17(324px; 481px);
    }
    &.houndoom {
        .bg-position-row-17(364px);
        &.mega {
            .bg-position-row-17(404px; 481px);
        }
    }
    &.kingdra {
        .bg-position-row-17(444px);
    }
    &.phanpy {
        .bg-position-row-17(484px);
    }
    &.donphan {
        .bg-position-row-17(524px);
    }
    &.porygon2 {
        height: 29px;
        .bg-position-row-17(564px);
    }
    &.stantler {
        .bg-position-row-17(604px; 478px);
    }
    &.smeargle {
        height: 30px;
        .bg-position-row-18(4px; 510px);
    }
    &.tyrogue {
        .bg-position-row-18(44px);
    }
    &.hitmontop {
        .bg-position-row-18(84px);
    }
    &.smoochum {
        .bg-position-row-18(124px);
    }
    &.elekid {
        .bg-position-row-18(164px);
    }
    &.magby {
        .bg-position-row-18(204px; 511px);
    }
    &.miltank {
        .bg-position-row-18(244px);
    }
    &.blissey {
        .bg-position-row-18(284px);
    }
    &.raikou {
        .bg-position-row-18(324px);
    }
    &.entei {
        .bg-position-row-18(364px);
    }
    &.suicune {
        .bg-position-row-18(404px);
    }
    &.larvitar {
        .bg-position-row-18(444px);
    }
    &.pupitar {
        .bg-position-row-18(484px);
    }
    &.tyranitar {
        .bg-position-row-18(524px);
        &.mega {
            .bg-position-row-18(564px);
        }
    }
    &.lugia {
        .bg-position-row-18(604px);
    }
    &.ho-oh {
        .bg-position-row-19(4px);
    }
    &.celebi {
        .bg-position-row-19(44px);
    }
}