/* johto sprites 152- 251*/

.sprites {
    &.chikorita {
        background-position: -222px -293px;
    }
    &.bayleef {
        background-position: -255px -293px;
    }
    &.meganium {
        background-position: -288px -292px; 
    }
    &.cyndaquil {
        background-position: -319px -292px; 
    }
    &.quilava {
        background-position: -350px -292px; 
    }
    &.typhlosion {
        background-position: -383px -292px; 
    }
    &.totodile {
        background-position: -416px -292px;
    }
    &.croconaw {
        background-position: -447px -292px;
    }
    &.feraligatr {
        background-position: -480px -292px;
    }
    &.sentret {
        background-position: 0px -324px; 
    }
    &.furret {    
        background-position: -32px -324px; 
    }
    &.hoothoot {
        background-position: -64px -324px; 
    }
    &.noctowl {
        background-position: -95px -324px; 
    }
    &.ledyba {
        background-position: -128px -326px; 
    }
    &.ledian {
        background-position: -159px -324px;
    }
    &.spinarak {
        background-position: -191px -324px; 
    }
    &.ariados {
        background-position: -224px -324px;
    }
    &.crobat {
        background-position: -255px -324px; 
    }
    &.chinchou {
        background-position: -288px -324px;
    }
    
    &.lanturn {
        background-position: -320px -323px;
    }
    &.pichu {
        background-position: -350px -324px;
    }
    &.cleffa {
        background-position: -383px -324px; 
    }
    &.igglybuff {
        background-position: -416px -324px;
    }
    &.togepi {
        background-position: -448px -324px; 
    }
    &.togetic {
        background-position: -480px -324px;
    }
    &.natu {
        background-position: 0px -356px;
    }
    &.xatu {
        background-position: -32px -356px; 
    }
    &.mareep {
        background-position: -65px -357px; 
    }
    &.flaaffy {
        background-position: -97px -357px;
    }
    &.ampharos {
        background-position: -128px -357px;
    }
    &.bellossom {
        background-position: -192px -357px;
    }
    &.marill {
        background-position: -193px -356px;
    }
    &.azumarill {
        background-position: -224px -356px;
    }
    &.sudowoodo {
        background-position: -256px -357px; 
    }
    &.politoed {
        background-position: -288px -357px; 
    }
    &.hoppip {
        background-position: -320px -357px; 
    }
    &.skiploom {
        background-position: -352px -357px; 
    }
    &.jumpluff {
        background-position: -385px -357px;
    }
    &.aipom {
        background-position: -414px -357px; 
    }
    &.sunkern {
        background-position: -447px -357px; 
    }
    &.sunflora {
        background-position: -480px -356px; 
    }
    &.yanma {
        background-position: 0px -388px;
    }
    &.wooper {
        background-position: -32px -388px; 
    }
    &.quagsire {
        background-position: -63px -388px; 
    }
    &.espeon {
        background-position: -96px -388px; 
    }
    &.umbreon {
        background-position: -128px -388px;
    }
    &.murkrow {
        background-position: -160px -388px; 
    }
    &.slowking {
        background-position: -160px -388px; 
    }
    &.misdreavus {
        background-position: -223px -388px;
    }
    &.unown {
        background-position: -255px -388px; 
    }
    &.wobbuffet {
        background-position: -288px -388px;
    }
    &.girafarig {
        background-position: -320px -387px;
    }
    &.pineco {
        background-position: -352px -387px;
    }
    &.forretress {
        background-position: -383px -388px; 
    }
    
    &.dunsparce {
        background-position: -414px -390px; 
    }
    &.gligar {
        background-position: -447px -388px;
    }
    &.steelix {
        background-position: -480px -388px;
    }
    &.snubbull {
        background-position: 0px -422px; 
    }
    &.granbull {
        background-position: -33px -421px;
    }
    &.qwilfish {
        background-position: -63px -421px; 
    }
    &.scizor {
        background-position: -97px -420px;
    }
    &.shuckle {
        background-position: -127px -420px; 
    }
    &.heracross {
        background-position: -160px -420px;
    }
    &.sneasel {
        background-position: -192px -421px;
    }
    &.teddiurse {
        background-position: -223px -421px;
    }
    &.ursaring {
        background-position: -254px -420px; 
    }
    &.slugma {
        background-position: -289px -420px; 
    }
    &.magcargo {
        background-position: -319px -420px; 
    }
    &.swinub {
        background-position: -351px -420px;
    }
    &.piloswine {
        background-position: -383px -421px;
    }
    &.corsola {
       background-position: -416px -421px;  
    }
    
    &.remoraid {
        background-position: -448px -421px; 
    }
    
    &.octillery {
        background-position: -480px -420px;
    }
    &.delibird {
        background-position: 0px -452px; 
    }
    &.mantine {
        background-position: -32px -452px; 
    }
    &.skarmory {
        background-position: -64px -452px;
    }
    &.houndour {
        background-position: -97px -452px; 
    }
    &.houndoom {
        background-position: -129px -452px;
    }
    &.kingdra {
        background-position: -161px -452px; 
    }
    &.phanpy {
        background-position: -191px -453px;
    }
    &.donphan {
        background-position: -224px -451px; 
    }
    &.porygon2 {
        background-position: -256px -451px; 
    }
    &.stantler {
        background-position: -286px -452px; 
    }
    &.smeargle {
        background-position: -319px -454px;
    }
    &.tyrogue {
        background-position: -351px -452px; 
    }
    &.hitmontop {
        background-position: -386px -452px; 
    }
    &.smoochum {
        background-position: -416px -453px;
    }
    &.elekid {
        background-position: -447px -452px; 
    }
    &.magby {
        background-position: -479px -452px; 
    }
    &.miltank {
        background-position: 0px -484px;
    }
    &.blissey {
        background-position: -34px -483px; 
    }
    &.raikou {
        background-position: -66px -484px; 
    }
    &.entei {
        background-position: -96px -484px; 
    }
    &.suicune {
        background-position: -129px -484px; 
    }
    &.larvitar {
        background-position: -159px -485px; 
    }
    &.pupitar {
        background-position: -193px -485px; 
    }
    &.tyranitar {
        background-position: -224px -484px; 
    }
    &.lugia {
        background-position: -256px -483px; 
    }
    &.ho-oh {
        background-position: -288px -483px; 
    }
    &.celebi {
        background-position: -320px -483px; 
    }
    
}