/* kalos sprites 650 - 721 */
.sprites{
    &.chespin {
        background-position: -415px -1313px;
    }
    &.quilladin {
        background-position: -447px -1312px;
    }
    &.chesnaught {
        background-position: -480px -1311px; 
    }
    &.fennekin {
        background-position: 0px -1346px;
    }
    &.braixen {
        background-position: -32px -1344px; 
    }
    &.delphox {
        background-position: -62px -1343px;
    }
    &.froakie {
        background-position: -96px -1344px; 
    }
    &.frogadier {
        background-position: -128px -1344px; 
    }
    &.greninja {
        background-position: -157px -1344px;
    }
    &.bunnelby{
        background-position: -192px -1344px;
    }
    &.diggersby {
        background-position: -224px -1343px; 
    }
    &.fletchling{
        background-position: -256px -1344px;
    }
    &.flechinder {
        background-position: -288px -1343px; 
    }
    &.talonflame {
        background-position: -318px -1342px; 
    }
    &.scatterbug {
        background-position: -352px -1344px;
    }
    &.spewpa {
       background-position: -384px -1343px; 
    }
    &.vivillon {
        background-position: -414px -1343px; 
    }
    &.litleo {
        background-position: -445px -1344px; 
    }
    &.pyroar {
        background-position: -480px -1341px; 
    }
    &.flabebe {
        background-position: 0px -1376px;
    }    
    &.floette {
        background-position: -32px -1376px; 
    }
    &.florges {
        background-position: -62px -1377px; 
    }
    &.skiddo {
        background-position: -95px -1376px; 
    }
    &.gogoat {
     background-position: -128px -1375px;   
    }
    &.pancham {
        background-position: -161px -1377px; 
    }
    &.pangoro {
        background-position: -190px -1376px;
    }
    &.furfrou {
        background-position: -226px -1375px;
    }
    &.espurr {
        background-position: -255px -1375px; 
    }
    &.meowstic {
       background-position: -286px -1378px;  
    }
    &.honedge {
       background-position: -318px -1376px;  
    }
    &.doublade {
        background-position: -351px -1375px; 
    }
    &.aegislash {
        background-position: -383px -1375px; 
    }
    &.spritzee {
        background-position: -416px -1376px;
    }
    &.aromatisse {
        background-position: -447px -1377px; 
    }
    &.swirlix {
        background-position: -480px -1376px; 
    }
    &.slurpuff {
        background-position: 0px -1407px; 
    }
    &.inkay {
       background-position: -33px -1408px;  
    }
    &.malamar {
        background-position: -65px -1407px;
    }
    &.binacle {
        background-position: -96px -1409px; 
    }
    &.barbaracle {
        background-position: -128px -1406px; 
    }
    &.skrelp {
        background-position: -160px -1407px;
    }
    &.dragalge {
        background-position: -190px -1406px; 
    }
    &.clauncher {
        background-position: -224px -1407px; 
    }
    &.clawitzer {
        background-position: -255px -1407px; 
    }
    &.helioptile {
        background-position: -290px -1406px; 
    }
    &.heliolisk {
        background-position: -318px -1406px; 
    }
    &.tyrunt {
        background-position: -352px -1407px;
    }
    &.tyrantrum {
        background-position: -382px -1407px; 
    }
    &.amaura {
        background-position: -414px -1407px; 
    }
    &.aurorus {
        background-position: -447px -1407px; 
    }
    &.sylveon {
        background-position: -478px -1407px;
    }
    &.hawlucha {
        background-position: 0px -1442px; 
    }
    
    &.dedenne {
        background-position: -32px -1440px; 
    }
    
    &.carbink {
        background-position: -64px -1445px; 
    }
    &.goomy {
       background-position: -96px -1443px;  
    }
    &.sliggoo {
        background-position: -126px -1440px; 
    }
    &.goodra {
        background-position: -157px -1439px; 
    }
    &.klefki {
        background-position: -191px -1440px; 
    }
    &.phantump {
        background-position: -223px -1439px; 
    }
    &.trevenant {
        background-position: -255px -1438px;
    }
    &.pumpkaboo {
        background-position: -287px -1442px; 
    }
    &.gourgeist {
        background-position: -320px -1442px; 
    }
    &.bergmite {
        background-position: -351px -1443px;
    }
    &.avalugg {
        background-position: -384px -1438px; 
    }
    &.noibat {
        background-position: -416px -1439px; 
    }
    &.noivern {
        background-position: -448px -1439px; 
    }
    &.xerneas {
        background-position: -480px -1439px;
    }
    &.yveltal {
        background-position: 0px -1472px; 
    }
    &.zygarde {
        background-position: -31px -1472px;
    }
    &.diancie {
        background-position: -130px -1471px;
    }
    &.hoopa {
        background-position: -162px -1472px; 
    }
    &.volcanion {
        background-position: -196px -1470px;
    }
    
}