
/* kanto sprites 001 - 151 */
.sprites{
    
    &.bulbasaur {
        .bg-position-row-1(4px);
    }
    
    &.ivysaur {
        .bg-position-row-1(44px);
    }   
    
    &.venusaur {    
        .bg-position-row-1(84px; 2px);
        
        &.mega {
            .bg-position-row-1(124px; 1px);
        }
    }
    
    &.charmander {
        .bg-position-row-1(164px);
    }
    
    &.charmeleon {
        .bg-position-row-1(204px);
    }
    
    &.charizard {
        .bg-position-row-1(244px; 0px);
        
        &.mega {
            
            &-x {
                .bg-position-row-1(284px; 0px);            
            }   
            
            &-y {
                .bg-position-row-1(324px; 0px);
            }
        }
        
    };
    
    &.squirtle {
        .bg-position-row-1(364px);
    }
    
    &.wartortle {
        .bg-position-row-1(404px);
    }
    
    &.blastoise {
        .bg-position-row-1(444px);
        
        &.mega {
            .bg-position-row-1(484px);
        }
    }
    
    &.caterpie {
        .bg-position-row-1(524px);
    }
    
    &.metapod {
        .bg-position-row-1(564px);
    }
    
    &.butterfree {
        .bg-position-row-1(604px; 2px);
    }
    
    &.weedle {
        .bg-position-row-2(4px);
    }
    
    &.kakuna {
        .bg-position-row-2(44px);
    }
    
    &.beedrill {
        .bg-position-row-2(84px; 28px);
        
        &.mega {
            .bg-position-row-2(124px; 29px);
        }
    }
    
    &.pidgey {
        .bg-position-row-2(164px);
    }
    
    &.pidgeotto {
        .bg-position-row-2(204px);
    }
    
    &.pidgeot {
        .bg-position-row-2(244px);
        
        &.mega {
            .bg-position-row-2(284px);
        }
    }
    
    &.rattata {
        .bg-position-row-2(324px);
        
        &.alolan {
            .bg-position-row-2(364px; 30px);
        }
    }
    
    &.raticate {
        .bg-position-row-2(404px);
        
        &.alolan {
            .bg-position-row-2(444px);
        }
    }
    
    &.spearow {
        .bg-position-row-2(484px; 31px);
    }
    
    &.fearow {
        .bg-position-row-2(524px);
    }
    
    &.ekans {
        .bg-position-row-2(564px);
    }
    
    &.arbok {
        .bg-position-row-2(604px);
    }
    
    &.pikachu {
        .bg-position-row-3(4px);
    }
    
    &.raichu {
        .bg-position-row-3(46px);
        
        &.alolan {
            .bg-position-row-3(84px; 59px);
        }
    }
    
    &.sandshrew {
        .bg-position-row-3(124px; 61px);
        
        &.alolan {
            .bg-position-row-3(164px; 61px;);
        }
    }
    
    &.sandslash {
        .bg-position-row-3(204px);
        
        &.alolan {
            .bg-position-row-3(244px);
        }
    }
    
    &.nidoran-f{
        .bg-position-row-3(284px);
    }
    
    &.nidorina {
        .bg-position-row-3(324px);
    }
    
    &.nidoqueen {
        .bg-position-row-3(364px);
    }
    
    &.nidoran-m {
        .bg-position-row-3(404px);
    }
    
    &.nidorino {
        .bg-position-row-3(444px);
    }
    &.nidoking {
        .bg-position-row-3(484px;60px);
    }
    
    &.clefairy {
        .bg-position-row-3(524px);
    }
    
    &.clefable {
        .bg-position-row-3(564px);
    }
    
    &.vulpix {
        .bg-position-row-3(604px);
        
        &.alolan {
            .bg-position-row-4(4px);
        }
    }
    
    &.ninetales {
        .bg-position-row-4(44px);
        
        &.alolan {
            .bg-position-row-4(84px);
        }
    }
    
    &.jigglypuff {
        .bg-position-row-4(124px);
    }
    
    &.wigglytuff {
        .bg-position-row-4(164px);
    }
    &.zubat {
        .bg-position-row-4(204px);
    }
    &.golbat {
        .bg-position-row-4(244px);
    }
    &.oddish {
        .bg-position-row-4(284px);
    }
    &.gloom {
        .bg-position-row-4(324px);
    }
    &.vileplume {
        .bg-position-row-4(364px);
    }
    &.paras {
        .bg-position-row-4(404px);
    }
    &.parasect {
        .bg-position-row-4(444px; 90px);
    }
    &.venonat {
        .bg-position-row-4(484px);
    }
    &.venomoth {
        .bg-position-row-4(524px);
    }
    &.diglett {
        .bg-position-row-4(564px);
        
        &.alolan {
            .bg-position-row-4(604px);
        }
    }
    &.dugtrio {
        .bg-position-row-5(4px; 120px);
                
        &.alolan {
            .bg-position-row-5(44px; 119px);           
        }
    }
    &.meowth {
        height: 30px;
        .bg-position-row-5(84px; 120px;);
        
        &.alolan {
            .bg-position-row-5(124px);
        }
    }
    &.persian {
        .bg-position-row-5(164px);
        
        &.alolan {
            .bg-position-row-5(204px);
        }
    }
    &.psyduck {
        .bg-position-row-5(244px);
    }
    &.golduck {
        .bg-position-row-5(284px);
    }
    &.mankey {
        .bg-position-row-5(324px);
    }
    &.primeape {
        .bg-position-row-5(364px);
    }
    &.growlithe {
        .bg-position-row-5(404px);
    }
    &.arcanine {
        .bg-position-row-5(444px);
    }
    &.poliwag {
        .bg-position-row-5(484px);
    }
    &.poliwhirl {
        .bg-position-row-5(524px);
    }
    &.poliwrath {
        .bg-position-row-5(564px);
    }
    &.abra {
        .bg-position-row-5(604px);
    }
    &.kadabra {
        .bg-position-row-6(4px);
    }
    &.alakazam {
        .bg-position-row-6(44px; 150px);
        
        &.mega {
            .bg-position-row-6(84px; 150px);
        }
        
    }
    &.machop {
        .bg-position-row-6(124px);
    }
    &.machoke {
        .bg-position-row-6(164px);
    }
    &.machamp {
        .bg-position-row-6(204px; 150px);
    }
    &.bellsprout {
        .bg-position-row-6(244px);
    }
    &.weepinbell {
        .bg-position-row-6(284px);
    }
    &.victreebel {
        .bg-position-row-6(324px);
    }
    &.tentacool {
        .bg-position-row-6(364px);
    }
    &.tentacruel {
        .bg-position-row-6(404px; 150px);
    }
    &.geodude {
        .bg-position-row-6(444px);
        
        &.alolan {
            .bg-position-row-6(484px);
        }
    }
    &.graveler {
        .bg-position-row-6(524px);
        
        &.alolan {
            .bg-position-row-6(564px);
        }
    }
    &.golem {  
        .bg-position-row-6(604px; 150px);
        
        &.alolan {
            .bg-position-row-7(4px; 180px);
        }
    }
    &.ponyta {
        .bg-position-row-7(44px);
    }
    &.rapidash {
        .bg-position-row-7(84px);
    }
    &.slowpoke {
        .bg-position-row-7(124px);
    }
    &.slowbro {
        .bg-position-row-7(164px; 180px);
        
        &.mega {
            .bg-position-row-7(204px; 180px);
        }
    }
    &.magnemite {
        height: 24px;
        .bg-position-row-7(244px; 187px);
    }
    &.magneton {
        .bg-position-row-7(284px; 179px);
    }
    &.farfetchd {
        .bg-position-row-7(324px);
    }
    &.doduo {
        .bg-position-row-7(364px);
    }
    &.dodrio {
        .bg-position-row-7(404px);
    }
    &.seel {
        .bg-position-row-7(444px);
    }
    &.dewgong {
        .bg-position-row-7(484px);
    }
    &.grimer {
        .bg-position-row-7(524px);
        
        &.alolan {
            .bg-position-row-7(564px);
        }
    }
    &.muk {
        .bg-position-row-7(604px; 180px);
        
        &.alolan {
            .bg-position-row-8(4px; 208px);
        }
    }
    &.shellder {
        .bg-position-row-8(44px);
    }
    &.cloyster {
        .bg-position-row-8(84px);
    }
    &.gastly {
        .bg-position-row-8(124px);
    }
    &.haunter {
        .bg-position-row-8(164px);
    }
    &.gengar {
        .bg-position-row-8(204px);
        
        &.mega {
            .bg-position-row-8(244px);
        }
    }
    &.onix {
        .bg-position-row-8(284px);
    }
    &.drowzee {
        height: 30px;
        .bg-position-row-8(324px; 211px);
    }
    &.hypno {
        .bg-position-row-8(364px);
    }
    &.krabby {
        .bg-position-row-8(404px);
    }
    &.kingler {
        .bg-position-row-8(444px);
    }
    &.voltorb {
        .bg-position-row-8(484px; 216px);
    }
    &.electrode {
        .bg-position-row-8(524px; 214px);
    }
    &.exeggcute {
        .bg-position-row-8(564px);
    }
    &.exeggutor {
        .bg-position-row-8(604px);
        
        &.alolan {
            .bg-position-row-9(4px);
        }
    }
    &.cubone {
        .bg-position-row-9(44px);
    }
    &.marowak {
        .bg-position-row-9(84px);
        
        &.alolan {
            .bg-position-row-9(124px);
        }
    }
    &.hitmonlee {
        .bg-position-row-9(164px);
    }
    &.hitmonchan {
        .bg-position-row-9(204px);
    }
    &.lickitung {
        .bg-position-row-9(244px);
    }
    &.koffing {
        .bg-position-row-9(284px);
    }
    &.weezing {
        .bg-position-row-9(324px);
    }
    &.rhyhorn {
        .bg-position-row-9(364px);
    }
    &.rhydon {
        .bg-position-row-9(404px);
    }
    &.chansey {
        .bg-position-row-9(444px);
    }
    &.tangela {
        .bg-position-row-9(484px);
    }
    &.kangaskhan {
        .bg-position-row-9(524px);
        
        &.mega {
            .bg-position-row-9(564px; 240px);    
        }
    }
    &.horsea {
        height: 26px;
        .bg-position-row-9(604px; 244px);
    }
    &.seadra {
        .bg-position-row-10(4px);
    }
    &.goldeen {
        .bg-position-row-10(44px);
    }    
    &.seaking {
        .bg-position-row-10(84px);
    }
    &.staryu {
        .bg-position-row-10(124px);
    }
    &.starmie {
        .bg-position-row-10(164px);
    }
     &.mr-mime {
        .bg-position-row-10(204px);
    }
    &.scyther {
        .bg-position-row-10(244px);
    }
    &.jynx {
        .bg-position-row-10(284px);
    }
    &.electabuzz {
        .bg-position-row-10(324px);
    }
    &.magmar {
        .bg-position-row-10(364px);
    }
    &.pinsir {
        .bg-position-row-10(404px);
        
        &.mega {
            .bg-position-row-10(444px);
        }
    }
    
    &.tauros {
        .bg-position-row-10(484px);
    }
    
    &.magikarp {
        .bg-position-row-10(524px);
    }
    
    &.gyarados {
        .bg-position-row-10(564px);
        
        &.mega {
            .bg-position-row-10(604px);
        }
    }        
    
    &.lapras {
        .bg-position-row-11(4px);
    }
    &.ditto {
        .bg-position-row-11(44px);
    }
    &.eevee {
        .bg-position-row-11(84px);
    }
    &.vaporeon {
        .bg-position-row-11(124px);
    }
    &.jolteon {
        .bg-position-row-11(164px);
    }
    &.flareon {
        height: 28px;
        .bg-position-row-11(204px; 302px);
    }
    &.porygon {
        .bg-position-row-11(244px; 300px);
    }
    &.omanyte {
        .bg-position-row-11(284px; 300px);
    }
    &.omastar {
        .bg-position-row-11(324px);
    }
    &.kabuto {
        .bg-position-row-11(364px);
    }
    &.kabutops {
        .bg-position-row-11(404px; 299px);
    }
    &.aerodactyl {
        .bg-position-row-11(444px);
        
        &.mega {
            .bg-position-row-11(484px);
        }
    }
    &.snorlax {
       .bg-position-row-11(524px);
    }
    &.articuno {
        .bg-position-row-11(564px);
    }
    &.zapdos {
        .bg-position-row-11(604px; 301px);
    }
    &.moltres {
        .bg-position-row-12(4px; 330px);
    }
    &.dratini {
        .bg-position-row-12(44px);
    }
    &.dragonair {
        .bg-position-row-12(84px);
    }
    &.dragonite {
        .bg-position-row-12(124px); 
    }
    &.mewtwo {
        .bg-position-row-12(164px);
        
        &.mega {
            &-y {
                .bg-position-row-12(204px);
            }
            
            &-x {
                .bg-position-row-12(244px; 330px);
            }
        }
    }
    &.mew {
        .bg-position-row-12(284px); 
    }
}