//type icon sprites

.type-icon {    
    width: 53px;
    height: 20px;
    display: inline-flex;
    background: transparent none no-repeat 53px 19px;
    background-image: url('../images/type-icons.png');
    
    &.bug {
        background-position: -9px -7px; 
    }    
    &.electric {
        background-position: -9px -39px; 
    }
    &.fire {
        background-position: -9px -72px;
    }
    &.grass {
        background-position: -9px -106px; 
    }
    &.normal {
        background-position: -9px -139px;
    }
    &.rock {
        background-position: -9px -173px;
    }
    &.dark {
        background-position: -73px -7px; 
    }
    &.fairy {
        background-position: -73px -39px;
    }
    &.flying {
        background-position: -73px -72px;
    }
    &.ground {
        background-position: -73px -106px;
    }
    &.poison {
        background-position: -73px -139px;
    }
    &.steel {
        background-position: -73px -173px;
    }
    &.dragon {
        background-position: -137px -7px;
    }
    &.fighting {
        background-position: -138px -39px;
    }
    &.ghost{
        background-position: -138px -73px; 
    }
    &.ice {
        background-position: -138px -106px;
    }
    &.psychic {
        background-position: -138px -139px; 
    }
    &.water {
       background-position: -138px -173px; 
    }
}