/* unova sprites 494 - 649 */

.sprites {
    &.victini {
        background-position: -288px -996px;
    }
    &.snivy {
        background-position: -320px -996px;
    }
    &.servine {
        background-position: -351px -996px;
    }
    &.serperior {
        background-position: -385px -996px; 
    }
    &.tepig {
        background-position: -416px -996px; 
    }
    &.pignite {
        background-position: -449px -996px; 
    }
    &.emboar {
        background-position: -480px -996px; 
    }
    &.oshawott {
        background-position: 0px -1028px; 
    }
    &.dewott {
        background-position: -31px -1029px; 
    }
    &.samurott {
        background-position: -65px -1029px; 
    }
    &.patrat {
        background-position: -95px -1029px; 
    }
    &.watchog {
        background-position: -127px -1029px; 
    }
    &.lillipup {
        background-position: -160px -1029px; 
    }
    &.herdier {
        background-position: -191px -1028px; 
    }
    &.stoutland {
        background-position: -224px -1028px; 
    }
    &.purrloin {
        background-position: -255px -1028px;
    }
    &.liepard {
        background-position: -287px -1028px; 
    }
    &.pansage {
        background-position: -321px -1029px; 
    }
    &.simisage {
       background-position: -350px -1029px; 
    }
    &.pansear {
        background-position: -384px -1029px; 
    }
    &.simisear {
        background-position: -413px -1028px; 
    }
    &.panpour {
        background-position: -448px -1029px; 
    }
    &.simipour {
        background-position: -480px -1029px; 
    }
    &.munna {
        background-position: 0px -1060px; 
    }
    &.musharna {
        background-position: -33px -1058px; 
    }
    &.pidove {
        background-position: -64px -1060px; 
    }
    &.tranquill {
        background-position: -96px -1062px;
    }
    &.unfezant {
        background-position: -128px -1060px; 
    }
    &.blitzle {
        background-position: -161px -1060px;
    }
    &.zebstrika {
        background-position: -192px -1060px; 
    }
    &.roggenrola {
        background-position: -225px -1060px;
    }
    &.boldore {
        background-position: -255px -1060px; 
    }
    &.gigalith {
        background-position: -289px -1061px;
    }
    &.woobat {
        background-position: -320px -1060px;
    }
    &.swoobat {
        background-position: -352px -1061px;
    }
    &.drilbur {
        background-position: -383px -1061px;
    }
    &.excadrill {
        background-position: -415px -1061px; 
    }
    &.audino {
        background-position: -448px -1060px;
    }
    &.timburr {
        background-position: -480px -1062px; 
    }
    &.gurdurr {
        background-position: 0px -1091px;
    }
    &.conkeldurr {
        background-position: -32px -1092px; 
    }
    &.tympole {
        background-position: -64px -1092px;
    }
    &.palpitoad {
        background-position: -96px -1091px; 
    }
    &.seismitoad {
        background-position: -130px -1091px; 
    }
    &.throh {
        background-position: -160px -1092px; 
    }    
    &.sawk {
        background-position: -191px -1092px; 
    }
    &.sewaddle {
        background-position: -225px -1093px; 
    }
    &.swadloon {
        background-position: -257px -1092px;
    }
    &.leavanny {
        background-position: -288px -1092px;
    }
    &.venipede {
        background-position: -320px -1092px;
    }
    &.whirlipede {
        background-position: -352px -1092px; 
    }
    &.scolipede {
        background-position: -383px -1092px; 
    }
    &.cottonee {
        background-position: -417px -1093px;
    }
    &.whimsicott {
         background-position: -447px -1091px; 
    }
    &.petilil {
        background-position: -480px -1092px; 
    }
    &.lilligant {
        background-position: 0px -1124px; 
    }
    &.basculin {
        background-position: -32px -1124px; 
    }
    &.sandile {
        background-position: -64px -1124px; 
    }
    &.krokorok {
        background-position: -96px -1123px; 
    }
    &.krookodile {
        background-position: -130px -1122px;
    }
    &.darumaka {
        background-position: -162px -1124px; 
    }
    &.darmanitan {
        background-position: -191px -1123px; 
    }
    &.maractus {
        background-position: -258px -1124px;
    }
    &.dwebble {
        background-position: -288px -1125px;
    }
    &.crustle {
        background-position: -321px -1124px;
    }
    &.scraggy {
        background-position: -352px -1125px; 
    }
    &.scrafty {
      background-position: -383px -1125px;   
    }
    &.sigilyph {
        background-position: -415px -1124px;
    }
    &.yamask {
        background-position: -447px -1124px; 
    }
    &.cofagrigus {
        background-position: -479px -1124px; 
    }
    &.tirtouga {
        background-position: 0px -1158px; 
    }
    &.carracosta {
        background-position: -32px -1156px; 
    }
    &.archen {
        background-position: -65px -1156px; 
    }
    &.archeops {
        background-position: -98px -1156px; 
    }
    &.trubbish {
        background-position: -128px -1157px; 
    }
    &.garbodor {
        background-position: -160px -1156px; 
    }
    &.zorua {
        background-position: -192px -1155px; 
    }
    &.zoroark {
        background-position: -223px -1155px; 
    }
    &.minccino {
        background-position: -257px -1155px; 
    }
    &.cinccino {
        background-position: -288px -1156px;
    }
    &.gothita {
        background-position: -320px -1155px; 
    }
    &.gothorita {
        background-position: -352px -1155px; 
    }
    &.gothitelle {
        background-position: -383px -1155px; 
    }
    &.solosis {
        background-position: -416px -1156px;
    }
    &.duosion {
        background-position: -448px -1155px; 
    }
    &.reuniclus {
        background-position: -479px -1155px; 
    }
    &.ducklett {
        background-position: 0px -1188px;
    }
    &.swanna {
        background-position: -34px -1189px; 
    }
    &.vanillite {
        background-position: -64px -1187px;
    }
    &.vanillish {
        background-position: -95px -1188px;
    }
    &.vanilluxe {
        background-position: -129px -1187px; 
    }
    &.deerling {
        background-position: -159px -1188px; 
    }
    &.sawsbuck {
        background-position: -191px -1188px;
    }
    &.emolga {
        background-position: -224px -1188px;   
    }
    &.karrablast {
        background-position: -257px -1188px;
    }
    &.escavalier {
        background-position: -288px -1187px; 
    }
    &.foongus {
        background-position: -322px -1188px; 
    }
    &.amoonguss {
        background-position: -351px -1189px; 
    }
    &.frillish {
        background-position: -383px -1188px; 
    }
    &.jellicent {
        background-position: -417px -1189px;
    }
    &.alomomola {
        background-position: -448px -1189px; 
    }
    &.joltik {
        background-position: -480px -1188px;
    }
    &.galvantula {
        background-position: 0px -1222px; 
    }
    &.ferroseed {
        background-position: -32px -1220px;
    }
    &.ferrothorn {
        background-position: -66px -1218px; 
    }
    &.klink {
        background-position: -96px -1220px; 
    }
    &.klang {
        background-position: -129px -1220px; 
    }
    &.klinklang {
        background-position: -159px -1220px; 
    }
    &.tynamo {
        background-position: -193px -1219px; 
    }
    &.eelektrik {
        background-position: -225px -1220px; 
    }
    &.eelektross {
        background-position: -257px -1220px; 
    }
    &.elgyem {
        background-position: -287px -1220px; 
    }
    &.beheeyem {
        background-position: -318px -1219px; 
    }
    &.litwick {
        background-position: -352px -1219px; 
    }
    &.lampent {
        background-position: -383px -1219px; 
    }
    &.chandelure {
        background-position: -415px -1220px; 
    }
    &.axew {
        background-position: -448px -1221px;
    }
    &.fraxure {
        background-position: -480px -1221px; 
    }
    &.haxorus {
        background-position: 0px -1251px; 
    }
    &.cubchoo {
        background-position: -32px -1251px; 
    }
    &.beartic {
        background-position: -66px -1252px;
    }
    &.cryogonal {
        background-position: -96px -1252px;
    }
    &.shelmet {
        background-position: -128px -1251px;
    }
    &.accelgor {
        background-position: -158px -1253px; 
    }
    &.stunfisk {
        background-position: -192px -1253px; 
    }
    &.mienfoo {
        background-position: -225px -1251px; 
    }
    &.mienshao {
        background-position: -253px -1250px; 
    }
    &.druddigon {
        background-position: -288px -1251px; 
    }
    &.golett {
        background-position: -320px -1252px; 
    }
    &.golurk {
        background-position: -352px -1250px;
    }
    &.pawniard {
        background-position: -386px -1251px; 
    }
    &.bisharp {
        background-position: -414px -1251px; 
    }
    &.bouffalant {
        background-position: -449px -1250px; 
    }
    &.rufflet {
        background-position: -480px -1252px;
    }
    &.braviary {
        background-position: 0px -1285px; 
    }
    &.vullaby {
        background-position: -33px -1283px; 
    }
    &.mandibuzz {
        background-position: -64px -1283px;
    }
    &.heatmor {
        background-position: -96px -1283px; 
    }
    &.durant {
        background-position: -129px -1284px; 
    }
    &.deino {
        background-position: -159px -1284px; 
    }
    &.zweilous {
        background-position: -191px -1282px; 
    }
    &.hydreigon {
        background-position: -225px -1284px;
    }
    &.larvesta {
        background-position: -256px -1284px; 
    }
    &.volcarona {
        background-position: -288px -1285px; 
    }
    &.cobalion {
        background-position: -322px -1283px; 
    }
    &.terrakion {
        background-position: -354px -1282px;
    }
    &.virizion {
        background-position: -382px -1286px; 
    }
    &.tornadus {
        background-position: -414px -1284px; 
    }
    &.thundurus {
        background-position: -480px -1283px; 
    }
    &.reshiram {
        background-position: -31px -1317px;
    }
    &.zekrom {
        background-position: -63px -1314px; 
    }
    &.landorus {
        background-position: -96px -1314px; 
    }
    &.kyurem {
        background-position: -160px -1315px;
    }
    &.keldeo {
        background-position: -254px -1315px;
    }
    &.meloetta {
        background-position: -320px -1315px; 
    }
    &.genesect {
        background-position: -384px -1314px;
    }
}