//==== Buttons ====//

//Blocks
.game-button-dimensions {
    width: 45px;
    height: 45px;
}

//Button Group
.button-group {
    display: flex;
    justify-content: space-around;
    
    margin-top: .75rem;
    margin-bottom: .5rem;
    
    .button-group-heading {
        font-weight: 700;
    }
    
}

//Buttons
.button {
    background: #e6000f;
    border: 1px solid #000;
    cursor: pointer;            
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;    
    padding-top: .2rem;
    padding-bottom: .2rem;

    &.button_x {
        background-image: url('../images/pokemon-x-title-sm.png');
        .game-button-dimensions;
    }
    
    &.button_y {
        background-image: url('../images/pokemon-y-title-sm.png');
       .game-button-dimensions;
    }
    
    &.button_omegaRuby {
        background-image: url('../images/pokemon-or-logo.png');
        .game-button-dimensions;
    }
    
    &.button_alphaSapphire {
        background-image: url('../images/pokemon-as-logo.png');
        .game-button-dimensions;
    }   
    
    &.button_settings {        
        background-image: url('../images/cog.png');
        background-color: transparent;
        width: 2rem;
        height: 2rem;        
    }
    
    &.button_route {
        color: @white;
    }
    
    &:hover {                
       background-color: linear-gradient(to bottom, #e6000f 5%, #b3000c 100%);
    }

    &:active {
        position: relative;
        top: 1px;
    }
    
    &:focus {
        outline: 0;
    }
}