/*========== Sprites ===========*/

/*Base*/
.sprites {
    width: 32px;
    height: 32px;
    max-width: none;
    vertical-align: middle;
    display: inline-block;
    background: transparent none no-repeat 32px 32px;
    background-image: url('../images/new-sprites.png');
}

.bg-position-row-1(@x, @y: 4px) {    
    background-position: ~'-@{x} -@{y}';
}

.bg-position-row-2(@x, @y: 32px) {    
    background-position: ~'-@{x} -@{y}';
}

.bg-position-row-3(@x, @y: 62px) {    
    background-position: ~'-@{x} -@{y}';
}

.bg-position-row-4(@x, @y: 92px) {    
    background-position: ~'-@{x} -@{y}';
}

.bg-position-row-5(@x, @y: 122px) {    
    background-position: ~'-@{x} -@{y}';
}

.bg-position-row-6(@x, @y: 152px) {    
    background-position: ~'-@{x} -@{y}';
}

.bg-position-row-7(@x, @y: 182px) {    
    background-position: ~'-@{x} -@{y}';
}

.bg-position-row-8(@x, @y: 212px) {    
    background-position: ~'-@{x} -@{y}';
}

.bg-position-row-9(@x, @y: 242px) {    
    background-position: ~'-@{x} -@{y}';
}

.bg-position-row-10(@x, @y: 272px) {    
    background-position: ~'-@{x} -@{y}';
}

.bg-position-row-11(@x, @y: 302px) {    
    background-position: ~'-@{x} -@{y}';
}

.bg-position-row-12(@x, @y: 332px) {    
    background-position: ~'-@{x} -@{y}';
}

.bg-position-row-13(@x, @y: 362px) {    
    background-position: ~'-@{x} -@{y}';
}

.bg-position-row-14(@x, @y: 392px) {    
    background-position: ~'-@{x} -@{y}';
}

.bg-position-row-15(@x, @y: 422px) {    
    background-position: ~'-@{x} -@{y}';
}

.bg-position-row-16(@x, @y: 452px) {    
    background-position: ~'-@{x} -@{y}';
}

.bg-position-row-17(@x, @y: 482px) {    
    background-position: ~'-@{x} -@{y}';
}

.bg-position-row-18(@x, @y: 512px) {    
    background-position: ~'-@{x} -@{y}';
}

.bg-position-row-19(@x, @y: 542px) {    
    background-position: ~'-@{x} -@{y}';
}

.bg-position-row-20(@x, @y: 572px) {    
    background-position: ~'-@{x} -@{y}';
}

.bg-position-row-21(@x, @y: 602px) {    
    background-position: ~'-@{x} -@{y}';
}

.bg-position-row-22(@x, @y: 632px) {    
    background-position: ~'-@{x} -@{y}';
}

.bg-position-row-23(@x, @y: 662px) {    
    background-position: ~'-@{x} -@{y}';
}

.bg-position-row-24(@x, @y: 692px) {    
    background-position: ~'-@{x} -@{y}';
}

.bg-position-row-25(@x, @y: 722px) {    
    background-position: ~'-@{x} -@{y}';
}

.bg-position-row-26(@x, @y: 752px) {    
    background-position: ~'-@{x} -@{y}';
}

.bg-position-row-27(@x, @y: 782px) {    
    background-position: ~'-@{x} -@{y}';
}

.bg-position-row-28(@x, @y: 812px) {    
    background-position: ~'-@{x} -@{y}';
}

.bg-position-row-29(@x, @y: 842px) {    
    background-position: ~'-@{x} -@{y}';
}

.bg-position-row-30(@x, @y: 872px) {    
    background-position: ~'-@{x} -@{y}';
}

.bg-position-row-31(@x, @y: 902px) {    
    background-position: ~'-@{x} -@{y}';
}

.bg-position-row-32(@x, @y: 932px) {    
    background-position: ~'-@{x} -@{y}';
}

.bg-position-row-33(@x, @y: 962px) {    
    background-position: ~'-@{x} -@{y}';
}

.bg-position-row-34(@x, @y: 992px) {    
    background-position: ~'-@{x} -@{y}';
}

.bg-position-row-35(@x, @y: 1022px) {    
    background-position: ~'-@{x} -@{y}';
}

.bg-position-row-36(@x, @y: 1052px) {    
    background-position: ~'-@{x} -@{y}';
}

.bg-position-row-37(@x, @y: 1082px) {    
    background-position: ~'-@{x} -@{y}';
}

.bg-position-row-38(@x, @y: 1112px) {    
    background-position: ~'-@{x} -@{y}';
}

.bg-position-row-39(@x, @y: 1142px) {    
    background-position: ~'-@{x} -@{y}';
}
.bg-position-row-40(@x, @y: 1172px) {    
    background-position: ~'-@{x} -@{y}';
}
.bg-position-row-41(@x, @y: 1202px) {    
    background-position: ~'-@{x} -@{y}';
}
.bg-position-row-42(@x, @y: 1232px) {    
    background-position: ~'-@{x} -@{y}';
}
.bg-position-row-43(@x, @y: 1262px) {    
    background-position: ~'-@{x} -@{y}';
}

.bg-position-row-44(@x, @y: 1292px) {    
    background-position: ~'-@{x} -@{y}';
}

.bg-position-row-45(@x, @y: 1322px) {    
    background-position: ~'-@{x} -@{y}';
}

.bg-position-row-46(@x, @y: 1352px) {    
    background-position: ~'-@{x} -@{y}';
}
@import 'components_sprites/kanto_sprites';
@import 'components_sprites/johto_sprites';
@import 'components_sprites/hoenn_sprites';
@import 'components_sprites/sinnoh_sprites';
@import 'components_sprites/unova_sprites';
@import 'components_sprites/kalos_sprites';

@import 'components_sprites/type_icons';