//Block Route css
.block-route-info {
    display: flex;        
    flex: 2;
    flex-direction: column;
    
    .block-route-header {
        display: flex;
                       
        &:before {
            content: '';                
            margin-right: .2rem;
            width: 1.25rem;
            height: 1.25rem;
            background: url('../images/route-sign.png') no-repeat;
            background-size: contain;
        }
            
    }
    
    .block-route-paths {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        
        .block-path-group {
            display: flex;       
            flex: 1 1 auto;
            flex-direction: column;
            font-size: .8rem;
            padding-bottom: .75rem;
            align-items: flex-start;            
            
            &:nth-child(2n){
                align-items: flex-end;
                padding-right: .2rem;
            }
        }
    }

}

.block-route-map {
    display: flex;
    flex: 1;
}