//==== Layout ====//

.container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 60px);
    max-width: 480px;
    margin: auto;
    
    .block {
        display: flex;
        flex-direction: column;
        flex: 0 1 auto;
        
        padding-right: .25rem;
        padding-left: .25rem;
        
        margin-top: .5rem;
        margin-bottom: 0;
        margin-left: .25rem;
        margin-right: .25rem;
        
        &.block-route {
            flex-direction: row;

        }
        
        &.block-encounters {
            flex-direction: column;
        }
    }
}