/*========== Sprites ===========*/

/*Base*/
.sprites {
    width: 32px;
    height: 32px;
    max-width: none;
    vertical-align: middle;
    display: inline-block;
    background: transparent none no-repeat 32px 32px;
    background-image: url('../images/sprites.png');
}

@import 'components_sprites/kanto_sprites';
@import 'components_sprites/johto_sprites';
@import 'components_sprites/hoenn_sprites';
@import 'components_sprites/sinnoh_sprites';
@import 'components_sprites/unova_sprites';
@import 'components_sprites/kalos_sprites';

@import 'components_sprites/type_icons';