//==== Block Encounters ====//
.block-encounters {
    &-header {
        display: flex;
        margin-top: .5rem;
        
        span {
            flex-grow: 1;
            text-transform: capitalize;
            font-weight: 700;
            
            &:nth-child(n+2){
                text-align: right;
                font-weight: normal;
                color: @dark-gray;
            }
        }
    }       
}

.block-encounters-pokemon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: .5rem;
}