//Route block css

.block-route {
            
    .route-info-block {
        display: flex;
        
        .route-pokemon-block {
            display: flex;
            flex: 0 0 43%;
            align-items: center;
            justify-content: space-between;
        }
        
        .route-pokemon-info {
            display: flex;
            flex-direction: column;
        }
        
        .route-pokemon-name {
            font-weight: 700;
        }        
        
    }

}