//Route block css

.block-route {
            
    .route-info-header {
        display: flex;
        justify-content: center;
        font-weight: 700;
        font-size: @large-font-size;
    }
    
    .route-info-block {
        display: flex;
        
        .route-pokemon-block {
            display: flex;
            flex: 0 0 40%;            
        }
        
        .route-pokemon-info {
            display: flex;
            align-items: center;
        }                     
        
        .route-pokemon-name {
            padding-left: .25rem;
        }
    }

}