
/* Kanto Sprites 001 - 151 */
.sprites{
    
    &.Bulbasaur {
        background-position: 0 -5px;
    }
    
    &.Ivysaur {
        background-position: -32px -5px;
    }   
    
    &.Venusaur {    
        background-position: -64px -5px;
    }
    
    &.Charmander {
        background-position: -96px -4px; 
    }
    
    &.Charmeleon {
        background-position: -128px -4px;
    }
    
    &.Charizard {
        background-position: -160px -4px; 
    };
    
    &.Squirtle {
        background-position: -192px -4px;
    }
    
    &.Wartortle {
        background-position: -224px -4px; 
    }
    
    &.Blastoise {
        background-position: -255px -4px;
    }
    
    &.Caterpie {
        background-position: -288px -5px;    
    }
    
    &.Metapod {
        background-position: -320px -4px;
    }
    
    &.Butterfree {
        background-position: -353px -4px;
    }
    
    &.Weedle {
        background-position: -384px -5px;
    }
    
    &.Kakuna {
        background-position: -417px -4px; 
    }
    
    &.Beedrill {
        background-position: -447px -4px;
    }
    
    &.Pidgey {
        background-position: -480px -5px;
    }
    
    &.Pidgeotto {
        background-position: 0px -36px;
    }
    
    &.Pidgeot {
        background-position: -32px -36px;
    }
    
    &.Rattata {
        background-position: -64px -37px;
    }
    
    &.Raticate {
        background-position: -97px -37px;
    }
    
    &.Spearow {
        background-position: -126px -37px;
    }
    
    &.Fearow {
        background-position: -161px -37px;
    }
    
    &.Ekans {
        background-position: -192px -37px;
    }
    
    &.Arbok {
        background-position: -224px -37px; 
    }
    
    &.Pikachu {
        background-position: -255px -37px; 
    }
    
    &.Raichu {
        background-position: -288px -37px;
    }
    
    &.Sandshrew {
        background-position: -320px -37px;
    }
    
    &.Sandslash {
        background-position: -352px -37px;
    }
    
    &.Nidoran-f{
        background-position: -385px -37px;
    }
    
    &.Nidorina {
        background-position: -416px -38px;
    }
    
    &.Nidoqueen {
        background-position: -447px -38px;
    }
    
    &.Nidoran-m {
        background-position: -480px -36px; 
    }
    
    &.Nidorino {
        background-position: -480px -38px; 
    }
    &.Nidoking {
        background-position: -32px -69px;
    }
    
    &.Clefairy {
        background-position: -64px -69px;
    }
    
    &.Clefable {
        background-position: -95px -69px;
    }
    
    &.Vulpix {
        background-position: -128px -69px;
    }
    
    &.Ninetales {
        background-position: -159px -69px;
    }
    
    &.Jigglypuff {
        background-position: -193px -69px; 
    }
    
    &.Wigglytuff {
        background-position: -224px -69px;
    }
    &.Zubat {
        background-position: -255px -68px; 
    }
    &.Golbat {
        background-position: -287px -68px;
    }
    &.Oddish {
        background-position: -319px -68px;
    }
    &.Gloom {
        background-position: -352px -68px; 
    }
    &.Vileplume {
        background-position: -383px -68px;
    }
    &.Paras {
        background-position: -416px -68px; 
    }
    &.Parasect {
        background-position: -448px -68px;
    }
    &.Venonat {
        background-position: -480px -68px;
    }
    &.Venomoth {
        background-position: 0px -101px; 
    }
    &.Diglett {
        background-position: -32px -100px; 
    }
    &.Dugtrio {
        background-position: -64px -100px;
    }
    &.Meowth {
        background-position: -94px -100px;
    }
    &.Persian {
        background-position: -127px -100px; 
    }
    &.Psyduck {
        background-position: -159px -101px; 
    }
    &.Golduck {
        background-position: -191px -100px;
    }
    &.Mankey {
        background-position: -225px -100px;
    }
    &.Primeape {
        background-position: -256px -100px; 
    }
    &.Growlithe {
        background-position: -287px -100px; 
    }
    &.Arcanine {
        background-position: -319px -100px;
    }
    &.Poliwag {
        background-position: -351px -100px;
    }
    &.Poliwhirl {
        background-position: -383px -100px; 
    }
    &.Poliwrath {
        background-position: -414px -100px; 
    }
    &.Abra {
        background-position: -448px -100px; 
    }
    &.Kadabra {
        background-position: -478px -100px;
    }
    &.Alakazam {
        background-position: 0px -133px; 
    }
    &.Machop {
        background-position: -32px -133px; 
    }
    &.Machoke {
        background-position: -64px -133px;
    }
    &.Machamp {
        background-position: -95px -132px;
    }
    &.Bellsprout {
        background-position: -129px -133px; 
    }
    &.Weepinbell {
        background-position: -160px -133px;
    }
    &.Victreebel {
        background-position: -191px -133px; 
    }
    &.Tentacool {
        background-position: -224px -132px;;
    }
    &.Tentacruel {
        background-position: -257px -133px; 
    }
    &.Geodude {
        background-position: -288px -133px; 
    }
    &.Graveler {
        background-position: -320px -132px; 
    }
    &.Golem {  
        background-position: -352px -133px;
    }
    &.Ponyta {
        background-position: -384px -132px; 
    }
    &.Rapidash {
        background-position: -416px -132px;
    }
    &.Slowpoke {
        background-position: -448px -134px;
    }
    &.Slowbro {
        background-position: -479px -133px;
    }
    &.Magnemite {
        background-position: -1px -165px;
    }
    &.Magneton {
        background-position: -31px -165px; 
    }
    &.Farfetchd {
        background-position: -64px -164px; 
    }
    &.Doduo {
        background-position: -95px -165px; 
    }
    &.Dodrio {
        background-position: -128px -165px; 
    }
    &.Seel {
        background-position: -160px -165px; 
    }
    &.Dewgong {
        background-position: -192px -165px; 
    }
    &.Grimer {
        background-position: -224px -165px;
    }
    &.Muk {
        background-position: -255px -165px;
    }
    &.Shellder {
        background-position: -287px -165px;
    }
    &.Cloyster {
        background-position: -320px -165px;
    }
    &.Gastly {
        background-position: -352px -165px;
    }
    &.Haunter {
        background-position: -383px -165px; 
    }
    &.Gengar {
        background-position: -415px -165px;
    }
    &.Onyx {
        background-position: -448px -165px;
    }
    &.Drowzee {
        background-position: -480px -165px;
    }
    &.Hypno {
        background-position: 0px -196px;
    }
    &.Krabby {
        background-position: -32px -197px;
    }
    &.Kingler {
        background-position: -65px -196px; 
    }
    &.Voltorb {
        background-position: -95px -196px; 
    }
    &.Electrode {
        background-position: -128px -196px;
    }
    &.Exeggcute {
        background-position: -160px -196px;
    }
    &.Exeggutor {
        background-position: -192px -196px;
    }
    &.Cubone {
        background-position: -224px -196px;
    }
    &.Marowak {
        background-position: -256px -196px;
    }
    &.Hitmonlee {
        background-position: -289px -196px;
    }
    &.Hitmonchan {
        background-position: -318px -196px; 
    }
    &.Lickitung {
        background-position: -350px -196px;
    }
    &.Koffing {
        background-position: -384px -196px; 
    }
    &.Weezing {
        background-position: -415px -196px;
    }
    &.Rhyhorn {
        background-position: -446px -197px; 
    }
    &.Rhydon {
        background-position: -478px -197px; 
    }
    &.Chansey {
        background-position: 0px -228px; 
    }
    &.Tangela {
        background-position: -32px -228px; 
    }
    &.Kangaskhan {
        background-position: -64px -228px;
    }
    &.Horsea {
        background-position: -96px -228px; 
    }
    &.Seadra {
        background-position: -127px -228px; 
    }
    &.Goldeen {
        background-position: -161px -230px; 
    }
    
    &.Seaking {
        background-position: -192px -228px; 
    }
    &.Staryu {
        background-position: -223px -229px; 
    }
    &.Starmie {
        background-position: -255px -229px; 
    }
     &.Mr-Mime {
        background-position: -288px -228px; 
    }
    &.Scyther {
        background-position: -320px -229px;
    }
    &.Jynx {
        background-position: -351px -229px; 
    }
    &.Electabuzz {
        background-position: -383px -229px;
    }
    &.Magmar {
        background-position: -416px -229px;
    }
    &.Pinsir {
        background-position: -448px -228px;
    }
    
    &.Tauros {
        background-position: -479px -228px;
    }
    
    &.Magikarp {
        background-position: 1px -260px; 
    }
    
    &.Gyarados {
        background-position: -32px -260px;
    }        
    
    &.Lapras {
        background-position: -63px -261px; 
    }
    &.Ditto {
        background-position: -96px -260px; 
    }
    &.Eevee {
        background-position: -127px -262px; 
    }
    &.Vaporeon {
        background-position: -157px -260px; 
    }
    &.Jolteon {
        background-position: -191px -260px; 
    }
    &.Flareon {
        background-position: -223px -260px; 
    }
    &.Porygon {
        background-position: -256px -260px; 
    }
    &.Omanyte {
        background-position: -288px -260px; 
    }
    &.Omastar {
        background-position: -321px -260px; 
    }
    &.Kabuto {
        background-position: -352px -260px;
    }
    &.Kabutops {
        background-position: -383px -260px;
    }
    &.Aerodactyl {
        background-position: -416px -261px; 
    }
    &.Snorlax {
       background-position: -449px -260px;  
    }
    &.Articuno {
        background-position: -479px -260px;
    }
    &.Zapdos {
        background-position: 1px -291px; 
    }
    &.Moltres {
        background-position: -32px -292px;
    }
    &.Dratini {
        background-position: -64px -292px; 
    }
    &.Dragonair {
        background-position: -96px -292px;
    }
    &.Dragonite {
        background-position: -128px -292px; 
    }
    &.Mewtwo {
        background-position: -159px -292px;
    }
    &.Mew {
        background-position: -191px -293px; 
    }
}