/* Sinnoh Sprites 387 - 493 */

.sprites {
    &.Turtwig {
      background-position: -161px -772px;   
    }
    &.Grotle {
        background-position: -191px -773px; 
    }
    &.Torterra {
        background-position: -225px -773px;
    }
    &.Chimchar {
        background-position: -256px -772px; 
    }
    &.Monferno {
        background-position: -290px -772px; 
    }
    &.Infernape {
        background-position: -320px -772px; 
    }
    &.Piplup {
        background-position: -353px -772px; 
    }
    &.Prinplup {
        background-position: -385px -772px; 
    }
    &.Empoleon {
        background-position: -416px -772px; 
    }
    &.Starly {
        background-position: -448px -773px;
    }
    
    &.Staravia {
        background-position: -480px -772px;
    }
    &.Staraptor {
        background-position: 0px -805px; 
    }
    &.Bidoof {
        background-position: -32px -805px;
    }
    
    &.Bibarel {
        background-position: -63px -804px;
    }
    &.Kricketot {
        background-position: -96px -805px; 

    }
    &.Kricketune {
        background-position: -128px -805px; 
    }
    &.Shinx {
        background-position: -158px -805px; 
    }
    &.Luxio {
        background-position: -191px -805px; 
    }
    &.Luxray {
        background-position: -224px -803px; 
    }
    &.Budew {
        background-position: -256px -805px; 
    }
    &.Roserade {
        background-position: -287px -803px; 
    }
    &.Cranidos {
        background-position: -287px -803px; 
    }
    &.Rampardos {
        background-position: -352px -805px; 
    }
    &.Shieldon {
        background-position: -384px -805px; 
    }
    &.Bastiodon {
        background-position: -413px -805px; 
    }
    &.Burmy {
        background-position: -448px -804px;
    }
    &.Wormadam {
        background-position: -479px -805px; 
    }
    &.Mothim {
        background-position: -63px -835px;
    }
    &.Combee {
        background-position: -96px -836px; 
    }
    &.Vespiquen {
        background-position: -128px -835px; 
    }
    &.Pachirisu {
      background-position: -160px -838px;  
    }
    &.Buizel {
        background-position: -192px -837px; 
    }
    &.Floatzel {
        background-position: -221px -837px; 
    }
    &.Cherubi {
        background-position: -256px -836px; 
    }
    &.Cherrim {
        background-position: -288px -836px; 
    }
    &.Shellos {
        background-position: -320px -835px; 
    }
    &.Gastrodon {
        background-position: -352px -837px; 
    }
    &.Ambipom {
        background-position: -383px -835px; 
    }
    &.Drifloon {
        background-position: -416px -836px; 
    }
    &.Drifblim {
        background-position: -448px -837px; 
    }
    &.Buneary {
        background-position: -478px -836px; 
    }
    &.Lopunny {
        background-position: 0px -869px; 
    }
    &.Mismagius {
        background-position: -32px -868px; 
    }
    &.Honchkrow {
        background-position: -64px -868px; 
    }
    &.Glameow {
        background-position: -92px -868px; 
    }
    &.Purugly {
        background-position: -127px -871px;
    }
    &.Chingling {
        background-position: -159px -869px;
    }
    
    &.Mime.Jr {
        background-position: -352px -869px;
    }
            
    &.Stunky {
        background-position: -192px -869px;
    }
    &.Skuntank {
        background-position: -225px -870px; 
    }
    &.Bronzor {
        background-position: -257px -868px; 
    }
    &.Bronzong {
        background-position: -289px -868px; 
    }
    &.Bonsly {
        background-position: -320px -868px; 
    }
    &.Happiny {
        background-position: -385px -867px; 
    }
    &.Chatot {
        background-position: -416px -868px;
    }
    &.Spiritomb {
        background-position: -447px -867px; 
    }
    &.Gible {
        background-position: -480px -867px; 
    }
    &.Gabite {
        background-position: 0px -903px; 
    }
    &.Garchomp {
        background-position: -30px -901px; 
    }
    &.Munchlax {
        background-position: -64px -899px; 
    }
    &.Riolu {
        background-position: -96px -901px;
    }    
    &.Lucario{
       background-position: -128px -900px; 
    }
    &.Hippopotas {
        background-position: -159px -903px; 
    }
    &.Hippowdon {
        background-position: -191px -903px; 
    }
    &.Skorupi {    
        background-position: -226px -903px; 
    }
    &.Drapion {
        background-position: -255px -899px; 
    }
    &.Croagunk {
        background-position: -289px -901px; 
    }
    &.Toxicroak {
        background-position: -318px -900px; 
    }
    &.Carnivine {
        background-position: -351px -900px; 
    }
    &.Finneon {
        background-position: -384px -899px; 
    }
    &.Lumineon {
        background-position: -415px -899px; 
    }
    &.Mantyke {
        background-position: -448px -901px;    
    }
    &.Snover {
        background-position: -480px -900px; 
    }
    &.Abomasnow {
        background-position: 0px -933px;
    }
    &.Weavile {
        background-position: -34px -933px;
    }
    &.Magnezone {
        background-position: -64px -932px; 
    }
    &.Lickilicky {
        background-position: -98px -932px; 
    }
    &.Rhyperior {
        background-position: -128px -931px; 
    }
    &.Tangrowth {
        background-position: -160px -930px; 
    }
    &.Electivire {
        background-position: -191px -932px; 
    }
    &.Magmortar {
        background-position: -223px -932px; 
    }
    &.Togekiss {
        background-position: -253px -932px; 
    }
    &.Yanmega {
        background-position: -288px -931px; 
    }
    &.Leafeon {
        background-position: -319px -929px; 
    }
    &.Glaceon {
        background-position: -349px -932px;
    }
    &.Gliscor {
        background-position: -382px -931px; 
    }
    &.Mamoswine {
        background-position: -416px -930px; 
    }
    &.Porygon-Z {
        background-position: -448px -928px; 
    }
    &.Gallade {
        background-position: -480px -931px; 
    }
    &.Probopass {
        background-position: 0px -965px; 
    }
    &.Dusknoir {
        background-position: -34px -963px;
    }
    &.Froslass {
        background-position: -62px -965px;
    }
    &.Rotom {
        background-position: -95px -963px; 
    }
    &.Uxie {
        background-position: -287px -964px; 
    }
    &.Mesprit {
        background-position: -322px -964px; 
    }
    &.Azelf {
        background-position: -350px -965px; 
    }
    &.Dialga {
        background-position: -384px -964px; 
    }
    &.Palkia {
        background-position: -416px -964px; 
    }
    &.Heatran {
        background-position: -449px -965px; 
    }
    &.Regigigas {
        background-position: -480px -964px; 
    }
    &.Giratina {
        background-position: 0px -995px; 
    }
    &.Cresselia {
        background-position: -63px -997px; 
    }
    &.Phione {
        background-position: -95px -997px; 
    }
    &.Manaphy {
        background-position: -127px -996px;
    }
    &.Darkrai {
        background-position: -159px -996px; 
    }
    &.Shaymin {
        background-position: -191px -996px; 
    }
    &.Arceus {
        background-position: -253px -995px; 
    }
    
}