
/*========== Sprites ===========*/

/*Base*/
.sprites {
    width: 32px;
    height: 32px;
    max-width: none;
    vertical-align: middle;
    display: inline-block;
    background: transparent none no-repeat 32px 32px;
    background-image: url('../images/sprites.png');
}

@import 'kanto_sprites';
@import 'johto_sprites';
@import 'hoenn_sprites';
@import 'sinnoh_sprites';
@import 'unova_sprites';
@import 'kalos_sprites';

@import 'type_icons';